html {
    font-size: 10px;
    font-family: 'Proxima-r';
     overflow-x: hidden;
  }

  @font-face {
    font-family: 'Proxima-r';
    src: url('../public/fonts/proximanova_regular.ttf');
  }

  @font-face {
    font-family: 'Proxima-b';
    src: url('../public/fonts/proximanova_bold.ttf');
  }

  * {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    color: #1E2E36;
  }

  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }