html {
  @media (max-width: 1640px) {
    font-size: 8px;
  }

  @media (max-width: 1300px) {
    font-size: 7px;
  }

  @media (max-width: 1230px) {
    font-size: 5px;
  }

  @media (max-width: 800px) {
    font-size: 3px;
  }
}

.container {
  padding: 0 5.1rem;

  @media (min-width: 1950px) {
    padding: 0 20rem;
  }
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.contact-info {
  display: flex;

  &__icons {
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 3rem;
  }

  &__item:last-child {
    margin-right: 6rem;
  }

  &__text {
    font-weight: 700;
    font-size: 1.8rem;
    margin-right: 1.3rem;
    line-height: 125%;
  }

  &__phone {
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
      display: none;
    }

    &-link {
      display: flex;
      align-items: center;

      img {
        margin-right: 1rem;
      }

      span {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 125%;
        margin-right: 1rem;
      }
    }

    &-arrow {
      cursor: pointer;
    }
  }
}

.header__nav {
  margin-left: auto;

  @media (max-width: 1640px) {
    margin-left: 0;
  }

  &-items {
    display: flex;
    align-items: center;

    li {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 125%;
      text-transform: uppercase;
      position: relative;
      cursor: pointer;

      &:hover::after {
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.3rem;
        position: absolute;
        background-color: #44c697;
      }

      @media (max-width: 800px) {
        font-size: 3rem;
      }
    }
  }

  &-item:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.divider {
  border: 0.1rem solid #1e2e36;
  margin-bottom: 1.5rem;
}

.menu-section {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .menu-products {
      display: flex;
      margin-right: 12rem;
      &__item {
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 125%;
          margin-right: 0.7rem;
          text-transform: uppercase;

          @media (max-width: 1300px) {
            font-size: 13px;
          }

          @media (max-width: 480px) {
            font-size: 10px;
          }
        }

        img {
          width: 2rem;
        }

        &:not(:last-child) {
          margin-right: 1.9rem;
        }
      }

      @media (max-width: 1300px) {
        // display: block;
      }
    }

    @media (max-width: 1300px) {
      justify-content: center;
    }
  }

  &__wrap-block {
    display: flex;
    align-items: center;

    @media (max-width: 1300px) {
      display: block;
    }
  }

  @media (max-width: 1640px) {
    margin-top: 1.5rem;
  }
}

.logo {
  display: flex;
  align-items: center;

  img {
    margin-right: 1.5rem;
  }

  p {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 125%;

    span {
      color: #44c697;
    }
  }

  @media (max-width: 1300px) {
    display: none;
  }
}

.cart-section {
  display: flex;
  align-items: center;

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 3rem;

    img {
      margin-right: 0.5rem;
    }

    span {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 125%;
    }
  }

  &__button {
    padding: 1.4rem 4.6rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 125%;
    background-color: #44c697;
    border-radius: 0.3rem;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.cart-section__icon {
  @media (max-width: 1100px) {
    display: none;
  }
}
.section-slider {
  position: relative;

  &__banner {
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42.6rem;
    max-height: 67rem;
    background-color: #ffffff;
    z-index: 1;
    border-left: 1.5rem solid #44c697;
    margin-left: 5.1rem;
    padding: 9.9rem 0;

    .banner-title {
      font-weight: 700;
      font-size: 6.4rem;
      line-height: 100%;
      text-align: center;
      margin-bottom: 5rem;
    }

    .banner-name {
      font-weight: 700;
      font-size: 3.6rem;
      line-height: 125%;
      text-align: center;
      margin-bottom: 1rem;
    }

    .banner-text {
      font-weight: 400;
      font-size: 3.6rem;
      line-height: 125%;
      text-align: center;
      margin-bottom: 3rem;
    }

    .banner-btn {
      padding: 1.4rem 4.6rem;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 125%;
      background-color: #44c697;
      border-radius: 0.3rem;
      border: none;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0 auto 5rem;
    }
  }
}

.section-slider__banner {
  @media (max-width: 490px) {
    padding: 2rem 0;
  }
}
.controls {
  display: flex;

  &-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.1rem solid #1e2e36;
    cursor: pointer;
    margin-right: 0.8rem;

    &:hover {
      background-color: #1e2e36;
      svg path {
        fill: #fff;
      }
    }

    &:focus {
      background-color: #1e2e36;
      svg path {
        fill: #fff;
      }
    }
  }

  &-prev {
    svg {
      transform: rotate(90deg);
      width: 2rem;
    }
  }

  &-next {
    svg {
      transform: rotate(-90deg);
      width: 2rem;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;

  &-current {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 125%;
  }

  &-total {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 125%;
  }

  &-divider {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 125%;
  }
}

.section-benefits {
  &__slider {
    position: relative;
    overflow-x: hidden;

    .swiper-wrapper {
      @media (max-width: 800px) {
        text-align: center;
      }
    }
  }

  .swiper-slide__item {
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &:hover {
      .swiper-slide__info {
        transform: translateY(1rem);
      }
    }
  }

  .swiper-slide__info {
    position: absolute;
    bottom: 0;
    padding-left: 3rem;
    padding-bottom: 3rem;
    transition: transform 0.3s ease-out;
    transform: translateY(7rem);

    h4 {
      font-weight: 700;
      font-size: 3.6rem;
      line-height: 125%;
      color: #ffffff;
      display: inline-block;
      border-bottom: 0.3rem solid #44c697;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 125%;
      color: #ffffff;
    }
  }

  .controls-benefits {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    .controls-btn__prev {
      position: absolute;
      left: 1.5rem;
      border: 0.1rem solid #fff;

      svg path {
        stroke: #fff;
        fill: #fff;
      }

      &:hover {
        background-color: #fff;
        border: none;
        svg path {
          fill: #1e2e36;
          stroke: #1e2e36;
        }
      }

      &:focus {
        background-color: #fff;
        svg path {
          fill: #1e2e36;
          stroke: #1e2e36;
        }
      }
    }

    .controls-btn__next {
      position: absolute;
      right: 1.5rem;
      border: 0.1rem solid #fff;
      background-color: none;

      svg path {
        stroke: #fff;
        fill: #fff;
      }

      &:hover {
        background-color: #fff;
        border: none;
        svg path {
          fill: #1e2e36;
          stroke: #1e2e36;
        }
      }

      &:focus {
        background-color: #fff;
        svg path {
          fill: #1e2e36;
          stroke: #1e2e36;
        }
      }
    }
  }
}

.title-block {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;

  h3 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 125%;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      height: 5rem;
      background-color: #44c697;
      z-index: -1;
    }
  }
}

.category-tabs {
  margin-bottom: 8.7rem;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 125%;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      margin-top: auto;
    }

    li {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 14rem;

      @media (max-width: 1500px) {
        svg {
          display: none;
        }
      }
    }

    li:not(:last-child) {
      margin-right: 20.9rem;
    }

    li:hover {
      cursor: pointer;
      svg path {
        fill: #44c697;
      }

      p::after {
        content: "";
        bottom: 0;
        left: 0;
        position: absolute;
        height: 0.3rem;
        background-color: #44c697;
        width: 100%;
      }
    }

    @media (max-width: 1500px) {
      flex-wrap: wrap;
      justify-content: baseline;
    }
  }
}

.category__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
  grid-row-gap: 6.5rem;
  position: relative;

  .category__item {
    position: relative;
    transition: transform 0.3s ease-out;

    img {
      width: 100%;
      display: block;
    }

    &-info {
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      padding: 15px;
    }

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 125%;
    }

    &-price {
      font-weight: 700;
      font-size: 24px;
      line-height: 125%;
    }

    &:hover {
      transform: translateY(-2rem);

      .category__item-info {
        background-color: #44c697;
        p,
        span {
          color: #fff;
        }
      }
    }

    @media (max-width: 800px) {
      p,
      span {
        font-size: 16px;
      }
    }
  }

  .new-product {
    position: relative;

    &::after {
      content: "Новинка";
      text-transform: uppercase;
      position: absolute;
      top: 10px;
      left: 0;
      padding: 0.5rem 1.5rem;
      font-weight: 700;
      font-size: 18px;
      line-height: 125%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      background: #1e2e36;
    }

    @media (max-width: 800px) {
      &::after {
        font-size: 14px;
      }
    }
  }

  .promotion {
    position: relative;

    &::after {
      content: "Акція";
      text-transform: uppercase;
      position: absolute;
      top: 48px;
      left: 0;
      padding: 0.5rem 1.5rem;
      font-weight: 700;
      font-size: 18px;
      line-height: 125%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;

      background: #ff1b1b;
    }

    .category__item-price {
      color: #ff1b1b;
    }

    @media (max-width: 800px) {
      &::after {
        font-size: 14px;
      }
    }
  }

  .best-seller {
    position: relative;

    &::before {
      content: "Хіт продаж";
      text-transform: uppercase;
      position: absolute;
      top: 10px;
      left: 0;
      padding: 0.5rem 1.5rem;
      font-weight: 700;
      font-size: 18px;
      line-height: 125%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      background: #1e2e36;
    }

    @media (max-width: 800px) {
      &::before {
        font-size: 14px;
      }
    }
  }

  .promotion-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    margin-left: 1rem;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #bcbdbb;
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-row-gap: 4.5rem;
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-row-gap: 2.5rem;
  }
}

.section-about-us__wrap {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.section-about-us__info {
  max-width: 89.6rem;
  max-height: 47.5rem;
  border-right: 1.5rem solid #44c697;
  padding: 5rem 3rem;
  box-sizing: border-box;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  span {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 125%;
    text-transform: uppercase;
    color: #44c697;
  }

  p {
    font-size: 1.8rem;
    line-height: 125%;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.section-contact-info {
  margin-bottom: 10.9rem;

  .section-contact-info__wrap {
    position: relative;

    @media (max-width: 800px) {
      display: flex;
      justify-content: center;
    }
  }

  &__form {
    position: absolute;
    top: 50%;
    right: 0;
    width: 52.8rem;
    padding: 5rem 3rem;
    box-sizing: border-box;
    background-color: #fff;
    transform: translateY(-50%);
    border-left: 1.5rem solid #44c697;

    form {
      h4 {
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 125%;
        margin-bottom: 3rem;
      }

      .input-wrap {
        display: flex;
        flex-direction: column;
        max-width: 43.2rem;

        input {
          padding: 1.4rem 1.5rem;
          font-size: 1.8rem;
          line-height: 125%;
          margin-bottom: 3rem;
        }

        button {
          padding: 1.8rem 0;
          border: none;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 125%;
          margin-bottom: 3rem;
          text-transform: uppercase;
          color: #ffffff;
          background-color: #44c697;
        }
      }
    }

    p {
      font-size: 1.8rem;
      line-height: 125%;
      max-width: 39.5rem;
    }

    @media (max-width: 1500px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: 800px) {
      width: 300px;
      position: static;
      transform: translate(0, 0);

      .input-wrap {
        max-width: 100% !important;
      }

      h4 {
        font-size: 18px !important;
        text-align: center;
      }

      input {
        padding: 10px 10px !important;
        font-size: 15px !important;
        line-height: 125%;
        margin-bottom: 3rem;
      }

      button {
        padding: 15px 0 !important;
        font-size: 15px !important;
      }

      p {
        font-size: 15px !important;
        max-width: 100% !important;
      }
    }
  }

  .section-contact-info__image {
    @media (max-width: 800px) {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .category-tabs__list {
    li {
      margin-right: 9rem !important;

      p {
        font-size: 3.4rem;
      }
    }
  }
}

.footer {
  &-wrap {
    display: flex;
    box-sizing: border-box;
    height: 52rem;

    @media (max-width: 800px) {
      height: 100%;
    }
  }

  &-info {
    width: 100%;
    background-color: #1e2e36;
    padding: 5rem 10rem 1.5rem 5rem;
    display: flex;
    flex-direction: column;

    .logo {
      p {
        color: #fff;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;

    @media (max-width: 800px) {
      justify-content: space-around;
    }

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  &-image {
    width: 100%;
    height: 52rem;

    img {
      display: block;
      height: 100%;
    }

    @media (max-width: 800px) {
      display: none;
    }
  }

  &-menu {
    display: flex;

    ul {
      li {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 125%;
        text-transform: uppercase;
        color: #fff;

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }

        span {
          color: #44c697;
        }
      }

      &:first-child {
        margin-right: 5.7rem;
      }
    }

    @media (max-width: 800px) {
      ul {
        li {
          font-size: 3.8rem;
        }
      }
    }

    @media (max-width: 450px) {
      margin-bottom: 2rem;
    }
  }

  &-social {
    &__item {
      margin-bottom: 1.6rem;

      &:not(:last-child) {
        display: flex;
        align-items: center;
      }

      span {
        font-size: 1.8rem;
        line-height: 125%;
        color: #ffffff;
        margin-left: 1rem;
      }
      p {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 125%;
        text-transform: uppercase;
        color: #44c697;
      }

      @media (max-width: 800px) {
        p {
          font-size: 4.8rem;
        }

        span {
          font-size: 4.8rem;
        }
      }
    }
    .phones {
      display: flex;
      margin-bottom: 3rem;

      svg {
        margin-right: 0.7rem;
      }
    }

    &-link {
      h4 {
        font-size: 1.8rem;
        line-height: 125%;
        color: #ffffff;
        margin-bottom: 1.7rem;
      }

      a:not(:last-child) {
        margin-right: 3rem;
      }

      @media (max-width: 800px) {
        h4 {
          font-size: 4.8rem;
        }
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;

    p {
      font-size: 1.4rem;
      line-height: 120%;
      color: #ffffff;
      display: flex;
      align-items: center;
    }
  }
}
