@charset "UTF-8";
@media (max-width: 1640px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1300px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 1230px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 3px;
  }
}

.container {
  padding: 0 5.1rem;
}
@media (min-width: 1950px) {
  .container {
    padding: 0 20rem;
  }
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0;
}
@media (max-width: 800px) {
  .header__wrap {
    flex-direction: column;
  }
}

.contact-info {
  display: flex;
}
.contact-info__icons {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .contact-info__icons {
    display: none;
  }
}
.contact-info__item:not(:last-child) {
  margin-right: 3rem;
}
.contact-info__item:last-child {
  margin-right: 6rem;
}
.contact-info__text {
  font-weight: 700;
  font-size: 1.8rem;
  margin-right: 1.3rem;
  line-height: 125%;
}
.contact-info__phone {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .contact-info__phone {
    display: none;
  }
}
.contact-info__phone-link {
  display: flex;
  align-items: center;
}
.contact-info__phone-link img {
  margin-right: 1rem;
}
.contact-info__phone-link span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  margin-right: 1rem;
}
.contact-info__phone-arrow {
  cursor: pointer;
}

.header__nav {
  margin-left: auto;
}
@media (max-width: 1640px) {
  .header__nav {
    margin-left: 0;
  }
}
.header__nav-items {
  display: flex;
  align-items: center;
}
.header__nav-items li {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.header__nav-items li:hover::after {
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  position: absolute;
  background-color: #44c697;
}
@media (max-width: 800px) {
  .header__nav-items li {
    font-size: 3rem;
  }
}
.header__nav-item:not(:last-child) {
  margin-right: 1.5rem;
}

.divider {
  border: 0.1rem solid #1e2e36;
  margin-bottom: 1.5rem;
}

.menu-section__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.menu-section__wrap .menu-products {
  display: flex;
  margin-right: 12rem;
}
.menu-section__wrap .menu-products__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu-section__wrap .menu-products__item span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  margin-right: 0.7rem;
  text-transform: uppercase;
}
@media (max-width: 1300px) {
  .menu-section__wrap .menu-products__item span {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .menu-section__wrap .menu-products__item span {
    font-size: 10px;
  }
}
.menu-section__wrap .menu-products__item img {
  width: 2rem;
}
.menu-section__wrap .menu-products__item:not(:last-child) {
  margin-right: 1.9rem;
}
@media (max-width: 1300px) {
  .menu-section__wrap {
    justify-content: center;
  }
}
.menu-section__wrap-block {
  display: flex;
  align-items: center;
}
@media (max-width: 1300px) {
  .menu-section__wrap-block {
    display: block;
  }
}
@media (max-width: 1640px) {
  .menu-section {
    margin-top: 1.5rem;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 1.5rem;
}
.logo p {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 125%;
}
.logo p span {
  color: #44c697;
}
@media (max-width: 1300px) {
  .logo {
    display: none;
  }
}

.cart-section {
  display: flex;
  align-items: center;
}
.cart-section__icon {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.cart-section__icon img {
  margin-right: 0.5rem;
}
.cart-section__icon span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
}
.cart-section__button {
  padding: 1.4rem 4.6rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  background-color: #44c697;
  border-radius: 0.3rem;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1100px) {
  .cart-section__icon {
    display: none;
  }
}

.section-slider {
  position: relative;
}
.section-slider__banner {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42.6rem;
  max-height: 67rem;
  background-color: #ffffff;
  z-index: 1;
  border-left: 1.5rem solid #44c697;
  margin-left: 5.1rem;
  padding: 9.9rem 0;
}
.section-slider__banner .banner-title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 100%;
  text-align: center;
  margin-bottom: 5rem;
}
.section-slider__banner .banner-name {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 125%;
  text-align: center;
  margin-bottom: 1rem;
}
.section-slider__banner .banner-text {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 125%;
  text-align: center;
  margin-bottom: 3rem;
}
.section-slider__banner .banner-btn {
  padding: 1.4rem 4.6rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  background-color: #44c697;
  border-radius: 0.3rem;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 5rem;
}

@media (max-width: 490px) {
  .section-slider__banner {
    padding: 2rem 0;
  }
}

.controls {
  display: flex;
}
.controls-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.1rem solid #1e2e36;
  cursor: pointer;
  margin-right: 0.8rem;
}
.controls-btn:hover {
  background-color: #1e2e36;
}
.controls-btn:hover svg path {
  fill: #fff;
}
.controls-btn:focus {
  background-color: #1e2e36;
}
.controls-btn:focus svg path {
  fill: #fff;
}
.controls-prev svg {
  transform: rotate(90deg);
  width: 2rem;
}
.controls-next svg {
  transform: rotate(-90deg);
  width: 2rem;
}

.pagination {
  display: flex;
  align-items: center;
}
.pagination-current {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 125%;
}
.pagination-total {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 125%;
}
.pagination-divider {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 125%;
}

.section-benefits__slider {
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 800px) {
  .section-benefits__slider .swiper-wrapper {
    text-align: center;
  }
}
.section-benefits .swiper-slide__item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.section-benefits .swiper-slide__item:hover .swiper-slide__info {
  transform: translateY(1rem);
}
.section-benefits .swiper-slide__info {
  position: absolute;
  bottom: 0;
  padding-left: 3rem;
  padding-bottom: 3rem;
  transition: transform 0.3s ease-out;
  transform: translateY(7rem);
}
.section-benefits .swiper-slide__info h4 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 125%;
  color: #ffffff;
  display: inline-block;
  border-bottom: 0.3rem solid #44c697;
  margin-bottom: 1.5rem;
}
.section-benefits .swiper-slide__info p {
  font-size: 1.8rem;
  line-height: 125%;
  color: #ffffff;
}
.section-benefits .controls-benefits {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.section-benefits .controls-benefits .controls-btn__prev {
  position: absolute;
  left: 1.5rem;
  border: 0.1rem solid #fff;
}
.section-benefits .controls-benefits .controls-btn__prev svg path {
  stroke: #fff;
  fill: #fff;
}
.section-benefits .controls-benefits .controls-btn__prev:hover {
  background-color: #fff;
  border: none;
}
.section-benefits .controls-benefits .controls-btn__prev:hover svg path {
  fill: #1e2e36;
  stroke: #1e2e36;
}
.section-benefits .controls-benefits .controls-btn__prev:focus {
  background-color: #fff;
}
.section-benefits .controls-benefits .controls-btn__prev:focus svg path {
  fill: #1e2e36;
  stroke: #1e2e36;
}
.section-benefits .controls-benefits .controls-btn__next {
  position: absolute;
  right: 1.5rem;
  border: 0.1rem solid #fff;
  background-color: none;
}
.section-benefits .controls-benefits .controls-btn__next svg path {
  stroke: #fff;
  fill: #fff;
}
.section-benefits .controls-benefits .controls-btn__next:hover {
  background-color: #fff;
  border: none;
}
.section-benefits .controls-benefits .controls-btn__next:hover svg path {
  fill: #1e2e36;
  stroke: #1e2e36;
}
.section-benefits .controls-benefits .controls-btn__next:focus {
  background-color: #fff;
}
.section-benefits .controls-benefits .controls-btn__next:focus svg path {
  fill: #1e2e36;
  stroke: #1e2e36;
}

.title-block {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.title-block h3 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 125%;
  position: relative;
  display: inline-block;
}
.title-block h3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 5rem;
  background-color: #44c697;
  z-index: -1;
}

.category-tabs {
  margin-bottom: 8.7rem;
}
.category-tabs__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-tabs__list p {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: auto;
}
.category-tabs__list li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 14rem;
}
@media (max-width: 1500px) {
  .category-tabs__list li svg {
    display: none;
  }
}
.category-tabs__list li:not(:last-child) {
  margin-right: 20.9rem;
}
.category-tabs__list li:hover {
  cursor: pointer;
}
.category-tabs__list li:hover svg path {
  fill: #44c697;
}
.category-tabs__list li:hover p::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  height: 0.3rem;
  background-color: #44c697;
  width: 100%;
}
@media (max-width: 1500px) {
  .category-tabs__list {
    flex-wrap: wrap;
    justify-content: baseline;
  }
}

.category__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
  grid-row-gap: 6.5rem;
  position: relative;
}
.category__items .category__item {
  position: relative;
  transition: transform 0.3s ease-out;
}
.category__items .category__item img {
  width: 100%;
  display: block;
}
.category__items .category__item-info {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.category__items .category__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
}
.category__items .category__item-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
}
.category__items .category__item:hover {
  transform: translateY(-2rem);
}
.category__items .category__item:hover .category__item-info {
  background-color: #44c697;
}
.category__items .category__item:hover .category__item-info p,
.category__items .category__item:hover .category__item-info span {
  color: #fff;
}
@media (max-width: 800px) {
  .category__items .category__item p,
  .category__items .category__item span {
    font-size: 16px;
  }
}
.category__items .new-product {
  position: relative;
}
.category__items .new-product::after {
  content: "Новинка";
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #1e2e36;
}
@media (max-width: 800px) {
  .category__items .new-product::after {
    font-size: 14px;
  }
}
.category__items .promotion {
  position: relative;
}
.category__items .promotion::after {
  content: "Акція";
  text-transform: uppercase;
  position: absolute;
  top: 48px;
  left: 0;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff1b1b;
}
.category__items .promotion .category__item-price {
  color: #ff1b1b;
}
@media (max-width: 800px) {
  .category__items .promotion::after {
    font-size: 14px;
  }
}
.category__items .best-seller {
  position: relative;
}
.category__items .best-seller::before {
  content: "Хіт продаж";
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #1e2e36;
}
@media (max-width: 800px) {
  .category__items .best-seller::before {
    font-size: 14px;
  }
}
.category__items .promotion-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  margin-left: 1rem;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #bcbdbb;
}
@media (max-width: 1200px) {
  .category__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-row-gap: 4.5rem;
  }
}
@media (max-width: 800px) {
  .category__items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-row-gap: 2.5rem;
  }
}

.section-about-us__wrap {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.section-about-us__info {
  max-width: 89.6rem;
  max-height: 47.5rem;
  border-right: 1.5rem solid #44c697;
  padding: 5rem 3rem;
  box-sizing: border-box;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.section-about-us__info span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  text-transform: uppercase;
  color: #44c697;
}
.section-about-us__info p {
  font-size: 1.8rem;
  line-height: 125%;
}
.section-about-us__info p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.section-contact-info {
  margin-bottom: 10.9rem;
}
.section-contact-info .section-contact-info__wrap {
  position: relative;
}
@media (max-width: 800px) {
  .section-contact-info .section-contact-info__wrap {
    display: flex;
    justify-content: center;
  }
}
.section-contact-info__form {
  position: absolute;
  top: 50%;
  right: 0;
  width: 52.8rem;
  padding: 5rem 3rem;
  box-sizing: border-box;
  background-color: #fff;
  transform: translateY(-50%);
  border-left: 1.5rem solid #44c697;
}
.section-contact-info__form form h4 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 125%;
  margin-bottom: 3rem;
}
.section-contact-info__form form .input-wrap {
  display: flex;
  flex-direction: column;
  max-width: 43.2rem;
}
.section-contact-info__form form .input-wrap input {
  padding: 1.4rem 1.5rem;
  font-size: 1.8rem;
  line-height: 125%;
  margin-bottom: 3rem;
}
.section-contact-info__form form .input-wrap button {
  padding: 1.8rem 0;
  border: none;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  margin-bottom: 3rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #44c697;
}
.section-contact-info__form p {
  font-size: 1.8rem;
  line-height: 125%;
  max-width: 39.5rem;
}
@media (max-width: 1500px) {
  .section-contact-info__form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 800px) {
  .section-contact-info__form {
    width: 300px;
    position: static;
    transform: translate(0, 0);
  }
  .section-contact-info__form .input-wrap {
    max-width: 100% !important;
  }
  .section-contact-info__form h4 {
    font-size: 18px !important;
    text-align: center;
  }
  .section-contact-info__form input {
    padding: 10px 10px !important;
    font-size: 15px !important;
    line-height: 125%;
    margin-bottom: 3rem;
  }
  .section-contact-info__form button {
    padding: 15px 0 !important;
    font-size: 15px !important;
  }
  .section-contact-info__form p {
    font-size: 15px !important;
    max-width: 100% !important;
  }
}
@media (max-width: 800px) {
  .section-contact-info .section-contact-info__image {
    display: none;
  }
}

@media (max-width: 800px) {
  .category-tabs__list li {
    margin-right: 9rem !important;
  }
  .category-tabs__list li p {
    font-size: 3.4rem;
  }
}
.footer-wrap {
  display: flex;
  box-sizing: border-box;
  height: 52rem;
}
@media (max-width: 800px) {
  .footer-wrap {
    height: 100%;
  }
}
.footer-info {
  width: 100%;
  background-color: #1e2e36;
  padding: 5rem 10rem 1.5rem 5rem;
  display: flex;
  flex-direction: column;
}
.footer-info .logo p {
  color: #fff;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
@media (max-width: 800px) {
  .footer-content {
    justify-content: space-around;
  }
}
@media (max-width: 450px) {
  .footer-content {
    flex-direction: column;
  }
}
.footer-image {
  width: 100%;
  height: 52rem;
}
.footer-image img {
  display: block;
  height: 100%;
}
@media (max-width: 800px) {
  .footer-image {
    display: none;
  }
}
.footer-menu {
  display: flex;
}
.footer-menu ul li {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
}
.footer-menu ul li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer-menu ul li span {
  color: #44c697;
}
.footer-menu ul:first-child {
  margin-right: 5.7rem;
}
@media (max-width: 800px) {
  .footer-menu ul li {
    font-size: 3.8rem;
  }
}
@media (max-width: 450px) {
  .footer-menu {
    margin-bottom: 2rem;
  }
}
.footer-social__item {
  margin-bottom: 1.6rem;
}
.footer-social__item:not(:last-child) {
  display: flex;
  align-items: center;
}
.footer-social__item span {
  font-size: 1.8rem;
  line-height: 125%;
  color: #ffffff;
  margin-left: 1rem;
}
.footer-social__item p {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  text-transform: uppercase;
  color: #44c697;
}
@media (max-width: 800px) {
  .footer-social__item p {
    font-size: 4.8rem;
  }
  .footer-social__item span {
    font-size: 4.8rem;
  }
}
.footer-social .phones {
  display: flex;
  margin-bottom: 3rem;
}
.footer-social .phones svg {
  margin-right: 0.7rem;
}
.footer-social-link h4 {
  font-size: 1.8rem;
  line-height: 125%;
  color: #ffffff;
  margin-bottom: 1.7rem;
}
.footer-social-link a:not(:last-child) {
  margin-right: 3rem;
}
@media (max-width: 800px) {
  .footer-social-link h4 {
    font-size: 4.8rem;
  }
}
.footer .copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
.footer .copyright p {
  font-size: 1.4rem;
  line-height: 120%;
  color: #ffffff;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=style.css.map */